.welcome
{
    background-image: url('../images/backgrounds/h_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.center
{
    color: white;
    padding: 40px;
    text-align: center;
}
.about{
    color: white;
}
.services
{
 background-image: url('../images/backgrounds/s_image.jpg');
 
 background-repeat: no-repeat;

}