.welcome
{
    background-image: url('../images/backgrounds/h_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.center
{
    color: white;
    padding: 40px;
    text-align: center;
}
.about{
    color:black;
    text-align: center;
}
.services
{
 background-image: url('../images/backgrounds/s_image.jpg');
 
 background-repeat: no-repeat;
 text-align: center;
 color: white;

}
.what-we-do{
    text-align: center;
}
.what-we-do .row{
    width: 80%;
    margin-left: 190px;
}
.what-we-do .row .col-sm-3{
    margin-left: 40px;
}

.body{
    padding: 0%;
    margin: 0;
    
}
.row
{
    width: 100%;

}
.portfolio .row .col-sm-2 img
{
    
    width: 200px;
}
.portfolio{
    text-align: center;
}

.contact{
    background-image:url('../images/backgrounds/c_image.jpg');
    background-repeat: no-repeat;
    text-align: center;
    color: white;
}
.jumbotron .contact .row input
{
    background-color: transparent;
}
.jumbotron .contact .row textarea
{
    background-color: transparent;
}
.footer .row .col-sm-3 img
{
    width: 30px;
}
.footer .row .col-sm-3
{
    width: 40px;
    height: 40px;
}
.footer .row
{
    margin-left: 450px;
    width: 700px;
}
.delani h3
{
    text-align: center;
}

.text1{
    display: none;
}

.text2{
    display: none;
}

.text3{
    display: none;
    
}
.portimg{
   
    margin: 20px;
}
.porttext{
    display: none;
}


.port{
 margin-right: 40px;  
    
}
.row{
    cursor: pointer;
}
span{
    display: none;
    position: absolute;
    left: 0pt;;
    top: 0pt;
    height: 200px;
    width: 300px;
    color: blue;
    font-size: 22px;
}